
<header>
    <div class="container">
      <a routerLink="/" class="logo">Your Online Library</a>
      <nav>
        <ul>
          
          <li class="menu-container">
            <a routerLink="/dashboard">Menu</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a>Logout</a>
            </div>
          </li>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/cart-page">
              Cart <span>3</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>